
.main-content{
    padding: 0;
}
.main-header{
    background-color: #1678F2;
    height: 210px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-top img {
    width: 150px;
    margin-right: 15px;
}

.header-top p {
    color: #FCE40E;
    margin: 0; 
    margin-top: 20px;
}

.header-bottom{
    padding: 10px 10px;
}

.header-bottom h1{
    color: #fff;
    font-weight: 600;
}

.header-bottom h4{
    color: #fff;
    font-weight: normal;
}

.header-bottom p{
    font-size: 12px;
    width: 67%;
    color: #40E4AD;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    .dropdown .dropdown-toggle,
    .user-name-mobile,
    .photo-profil-mobile{
        display: none !important;
    }

}
@media (min-width: 769px) {
    .dropdown .dropdown-toggle,
    .user-name-mobile,
    .photo-profil-mobile{
        display: none !important;
    }
}
@media (max-width: 768px) {
    .user-info-icons {
        display: none;
    }
    .dropdown {
        display: flex;
        flex-direction: column;
    }

    .dropdown-toggle{
       color: #fff;
       margin-right: 15px;
    }
    .dropdown-toggle::after {
        content: none; 
    }    
    .dropdown-menu {
        display: none;
    }
    .dropdown-menu.show {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: -20px;
        left: -270px;
        background-color: #1678F2;
        border-radius: 5px;
    }
    .user-info-icons-dropdown{
        display: flex;
        width: 100%;
    }
    .user-info-icons-dropdown{
        padding: 5px;
        min-width: 200px;
    }
    .user-info-icons-dropdown a{
        margin: 0;
    }
    .user-info .user-name{
        display: none;
        font-size: 8px;
    }
    .user-info .photo-profil{
        display: none;
    }
        
    .user-info .user-name-mobile{
        display: none;
        font-size: 12px;
        position: relative;
        top: 10px;
    }
    .user-info .notification-badge .badge{
        position: relative;
        top: -35px;
        right: -15px;
    }
}

@media (max-width: 768px) {
    .header1, .header2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center !important;
    }

    .header1 .logo-container img {
        width: 40px;
        height: 40px;
    }

    .header1 .user-info {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .header1 .user-info-icons {
        margin-bottom: 10px;
    }

    .header1 .user-info .profile-image {
        width: 35px;
        height: 35px;
        margin-left: 0;
    }

    .header1 .user-name {
        font-size: 14px;
    }

    .header2 .header-content {
        display: flex;
        justify-content: flex-start;
    }

    .header2 .title-header2 {
        margin-left: 0;
        font-size: 16px;
    }

    .header2 .content {
        margin-left: 0;
        font-size: 12px;
    }

    .main-content {
        padding-top: 10%;
    }
}


@media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }

    .sidebar {
        position: relative;
        top: -40px;
        display: block;
        transform: translateX(0);
    }

    .sidebar .sidebar-title {
        display: none;
    }
    .sidebar .sidebar-menu {
        margin-top: 35px;
    }
    
    .sidebar .dropdown-title {
        display: inline-block;
        transition: opacity 0.3s ease;
    }
    
    .sidebar .dropdown-title {
        display: none;
    }

    .toggle-btn{
        display: none;
    }

    .main-content {
        margin-left: 50px; 
        padding: 20px;
        transition: margin-left 0.3s ease;
        overflow-x: auto;
    }

    .main-content.small {
        margin-left: 60px;
    }

    .toggle-button {
        display: block;
    }
}
@media (max-width: 480px) {
    .sidebar {
        width: 60px;
    }

    .sidebar {
        position: relative;
        top: -40px;
        display: block;
        transform: translateX(0);
    }

    .sidebar .sidebar-title {
        display: none;
    }
    .sidebar .sidebar-menu {
        margin-top: 35px;
    }
    
    .sidebar .dropdown-title {
        display: inline-block;
        transition: opacity 0.3s ease;
    }
    
    .sidebar .dropdown-title {
        display: none;
    }

    .toggle-btn{
        display: none;
    }

    .main-content {
        margin-left: 50px; 
        padding: 20px;
        transition: margin-left 0.3s ease;
        overflow-x: auto;
    }

    .main-content.small {
        margin-left: 60px;
    }

    .toggle-button {
        display: block;
    }
}


.main-body{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 60px;
}

.card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 350px;
    margin-bottom: 20px;    
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.duration, .category {
    display: inline-block;
    font-size: 0.8em;
    color: #666;
}

.play-icon {
    background: transparent;
    border: transparent;
    width: 40px;
    height: 40px;
}

.play-icon img{
    width: 30px;
    height: 30px;
}

.category {
    color: #F3B414;
    background-color: rgba(243, 180, 20, 0.1);
    padding: 8px 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.category span  {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #F3B414;
    box-shadow: 0px 0px 0px 4px rgba(243, 180, 20, 0.45);
    border-radius: 50%;
    margin-right: 10px;
}

h2 {
    font-size: 15px;
    margin: 10px 0;
}

p {
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
}


.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.stars {
    display: flex;
    justify-content: space-between;
}

.star img{
    width: 20px;
    height: 20px;
}

.vertical-separator{
    background-color: #A9A9A9;
    height: 20px;
    width: 2px;
}

.enrolled {
    font-size: 12px;
    color: #6C87AE;
}
.enrolled span{
    font-size: 22px;
    font-weight: 600;
    color: #3D8CEF;
}

.progress-container {
    display: flex;
    align-items: center;
}

.progress-bar {
    background-color: #e0e0e0;
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
    flex: 1;
    margin-right: 10px;
}

.progress {
    background-color: #4a90e2;
    height: 100%;
}

.progress-text {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: #1678F2;
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .main-content{
        padding: 0;
    }

    .main-header {
        height: auto;
        padding: 15px;
    }

    .header-top {
        flex-direction: row;
        align-items: center;
    }

    .header-top img {
        width: 120px;
        margin-right: 10px;
    }

    .header-bottom h1 {
        font-size: 15px;
    }

    .header-bottom h4 {
        font-size: 12px;
    }

    .header-bottom p {
        font-size: 10px;
    }


    .main-body {
        padding: 15px;
        justify-content: center;
    }

    .card {
        width: 100%;
        margin-right: 0;
    }

    .content-header {
        flex-direction: row;
        align-items: center;
    }

    .duration, .category {
        font-size: 0.6em;
    }

    .category{
        padding: 8px 10px;
    }

    .play-icon {
        width: 30px;
        height: 30px;
    }

    .play-icon img {
        width: 20px;
        height: 20px;
    }

    h2 {
        font-size: 12px;
    }

    p {
        font-size: 10px;
    }

    .rating {
        flex-direction: row;
        align-items: center;
    }

    .stars {
        justify-content: flex-start;
    }

    .star img{
        width: 14px;
        height: 14px;
    }

    .vertical-separator {
        height: 15px;
    }

    .enrolled {
        font-size: 11px;
    }

    .enrolled span {
        font-size: 15px;
    }

    .progress-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .main-body {
        padding-left: 10px;
    }

    .card-content {
        padding: 10px;
    }

    .content-header {
        align-items: center;
    }

    .duration, .category {
        font-size: 0.6em;
    }

    h2 {
        font-size: 12px;
    }

    p {
        font-size: 10px;
    }

    .rating {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .vertical-separator {
        height: 10px;
    }

    .enrolled {
        font-size: 10px;
    }

    .enrolled span {
        font-size: 15px;
    }

    .progress-text {
        font-size: 10px;
    }
}