
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 5%;
}

.main-content .container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.container-header{
    display: flex;
    flex-direction: column;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    padding-top: 3%;
}

.steps-title{
    color: #3D8CEF;
    margin-left: 0px;
    margin-top: 1.5%;
}

.div-horizontal {
    background-color: #A9A9A957;
    height: .5px;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -80px;
    position: relative; 
}

.progress-barX {
    position: absolute;
    top: -25px; 
    left: 0;
    width: 100%;
    z-index: 10; 
}


.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    position: relative;
    width: 80%;
}

.step-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    transition: .4s;
    margin-right: 5px;
    background-color: #D9D9D9;
    color: #fff;
}

.step-button[aria-expanded="true"] {
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    color: #fff;
}

.done {
    width: 40px;
    height: 40px;
    background-color: #2867A8;
    color: #fff;
}

.step-item {
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 5px;
}


.completed-step {
    background-color: #2868A9 !important;
}

.step-title {
    font-size: 13px;
    color: #D9D9D9;
}

.step-title-completed {
    color: #2868A9 !important;
}

.progress-bar {
    position: relative;
    left: 20px;
    width: 60px;
    z-index: 5;
    height: 5px;
    margin-left: 0px;
    margin-right: 15px;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: #2867A8;
    transition: .5s ease;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #D9D9D9;
    border-radius: 10px;
}

.progress-barX {
    position: absolute;
    top: -1px;
    left: 0px;
    width: 100%;
    z-index: 5;
    height: 3px;
    border-radius: 10px;
}

.progress-barX::-webkit-progress-value {
    background-color: #2867A8;
    transition: .5s ease;
    border-radius: 10px;
}

.progress-barX::-webkit-progress-bar {
    background-color: #D9D9D9;
    border-radius: 10px;
}




.navigation-buttons-first,
.navigation-buttons-second {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0%;
    padding-bottom: 100px;
}


.navigation-buttons-second{
    display: none;
}

.prev-button, .next-button {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
}

.prev-button, .prev-button:hover, .next-button, .next-button:hover {
    background-color: transparent;
    border: transparent;
    color: #3D8CEF;
}

.prev-button {
    color: #333;
}

.prev-button span {
    margin-left: 15px !important;
}

.next-button {
    color: #3D8CEF;
}

.next-button span {
    margin-right: 15px !important;
}
.prev-button-f, .next-button-f {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
}

.prev-button-f, .prev-button-f:hover, .next-button-f, .next-button-f:hover {
    background-color: transparent;
    border: transparent;
}

.prev-button-f {
    color: #333;
}

.prev-button-f span {
    margin-left: 15px !important;
}

.next-button-f {
    color: #3D8CEF;
}

.next-button-f span {
    margin-right: 15px !important;
}



/* cards & inputs */
.accordion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    width: 100%;
    height: 100%;
    margin: 2% 0 5% 0;
    padding: 0;
}

.card {
    border: none;
    width: 100%;
    border-bottom: none;
    border-top: none;
    padding: 0;
}

#first-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

#second-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#third-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

/* ////////////// */

#fifth-card {
    width: 100%;
    height: 100%;
}

.fifth-card-container {
    display: flex;
    flex-direction: row;
    width: 100%;               
    max-width: 1200px;       
    margin: 0 auto;         
    height: 100vh;          
}

.fifth-card-image-container, .fifth-card-content {
    flex: 1;
    display: flex;
    width: 100%;
    margin-right: 10px;
}

.fifth-card-content{
    flex-direction: column;
}

.fifth-card-image {
    width: 100%;
    min-width: 100%; 
    height: auto;
    object-fit: none;     
}

/* for the clickable items */
.clickable-items {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 100%;
    margin-top: 5%;
}

.clickable-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    color: #333333;
    border: 1px solid #B5B5B5;
    border-radius: 25px; 
    padding: 5px 8px;
}

.clickable-item-added {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    background-color: rgba(61, 140, 239, 0.11);
    color: #3D8CEF;
    border: 1px solid #B5B5B5;
    border-radius: 25px; 
    padding: 5px 8px;
}

.clickable-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    background-color: #3D8CEF; 
    margin-right: 10px; 
}

.clickable-item-icon .img-icon{
    width: 15px;
    height: 15px;
}

.clickable-item-title {
    font-size: 16px; 
    font-weight: normal;
}

/* symptomes */
.symptomes-paragraph {
    color: #667085;
    margin-top: 5%;
    width: 70%;
}

/* for the symptomes inputs */
.symptomes-inputs{
    display: flex;
    flex-direction: column;
}

.container-input {
    display: flex;
    align-items: center;
    position: relative;
}

.symptomes-input {
    flex: 1;
    padding: 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container-input .input-icon-left,
.container-input .input-icon-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.container-input .input-icon-left{
    width: 25px; 
    height: 25px;
}

.container-input .input-icon-right {
    width: 35px; 
    height: 35px;
}

.input-icon-left {
    left: 10px;
}

.input-icon-right {
    right: 10px;
}

.small-cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.small-card {
    background-color: transparent;
    border-radius: 8px;
    margin-right: 10px;
}

.small-card .card-content {
    background-color: rgba(58, 142, 246, 0.13);
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 15px;
    border-radius: 8px;
}

.card-content .small-card-title {
    color: #3D8CEF;
    margin-right: 10px;
    margin-top: 16px;
    font-size: 14px;
}

.card-content .btn-card-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.card-content .btn-card-icon .card-icon {
    width: 10px;
    height: 10px;
}


.long-card-container {
    margin-top: 20px;
}

.long-card {
    background-color: rgba(169, 169, 169, 0.15);
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.long-card-title{
    color: #333;
    font-size: 15px;
    margin-top: 10px;
}

.ajouter-button,
.ajouter-button:hover {
    padding: 5px 10px;
    background-color: #D9D9D9; 
    color: #000;
    font-size: 11px;
    border: 1px solid #B5B5B5;
    border-radius: 4px;
    cursor: pointer;
}
 /* ////////////// */

.card-radios .card-radio{
    width: 30%;
    margin-right: 10px;
}


.card-header{
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 30px;
    background-color: transparent;
}


/* for the radio styling */


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-radios{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.card-radio {
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 3%;
    width: 35%;
    margin-top: 10%;
    height: 150px;
}

.hidden-radio {
    display: none;
}

.card-img-checked {
    display: none; 
}

.card{
    height: 100%;
    display: flex;
    justify-content: center;
}

.card img {
    width: 25%;
    height: auto;
}

.card-name {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.card-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 3%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden-radio:checked + label .card-content {
    background-color: #3D8CEF;
    color: #fff;
    height: 100%;
}

.hidden-radio:checked + label .card-img {
    display: none; 
}

.hidden-radio:checked + label .card-img-checked {
    display: block;
}

#selectList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 0px;
}

#selectListOpt {
    display: none;
    margin-top: 2%;
    width: 450px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}

#selectList-title {
    display: none;
    color: #667085;
}




/* Step 2 */

.card-body.step2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.info-patient,
.info-rdv {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.title-info-patient {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #667085;
}

.body-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.info-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Info item styles */
.info-item {
    width: 30%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}


.info-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 20px;
    background-color: rgba(65, 132, 247, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-text {
    flex: 1;
}

.info-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.info-subtitle {
    color: #667085;
    margin-bottom: 0;
}


/* for upload file  */
.status-icon img {
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.file-icon img{
    width: 20px;
    height: 20px;
}

/* for fourth-card */
.fourth-card{
    width: 100%;
}

.third-card-view-2-title{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.radio-title{
    color: #667085;
    position: relative;
    left: 12%;
    bottom: -65px;
}

/* for age button */
.container-age {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

#selectAge {
    width: 100%;
    max-width: 508px; 
}

#selectAge-title {
    margin-bottom: 8px; 
    font-size: 14px; 
    color: #667085;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 4px; 
    background-color: #fff;
}

.input-container .input-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#selectAgeOpt {
    border: none; 
    outline: none; 
    flex-grow: 1; 
    padding: 0px; 
    font-size: 16px; 
}

#selectAgeOpt:focus {
    border: none;
    outline: none;
}

/* for the text avis */
.third-card-view{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
}

#third-card-view-1,
#third-card-view-2,
#third-card-view-3{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.third-card-view-container{
    width: 60%;
}

.update-password-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 120%;
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.image-box .img-rounded-cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: rgba(58, 142, 246, 0.15);;
}

.image-box .img-rounded-cercle .rounded-image {
    width: 30px;
    height: 30px;
}

.paragraph-title {
    text-align: center;
    width: 80%;
    font-size: 16px;
    color: #555;
    margin: 10px 0 20px 0;   
}

.form-update{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.password-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.password-section .row {
    width: 100%;
}


.col-sm-6 label{
    color: #667085;
    position: relative;
    left: 20px;
}

.input-group {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}


.input-group .text-input {
    padding: 12px 10px 12px 40px;
    border-radius: 8px;
    border: 1px solid #B5B5B5;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 24px;
    margin: 5px 15px;
}

.input-group textarea.text-input {
    padding-top: 5px;
    background-image: url('../../img/icons/password-icon.png'); 
    background-position: 10px 10px; 
}

.button-new-exemple .next-button, .next-button:hover {
    background-color: transparent;
    border: transparent;
    color: #3D8CEF;
    font-size: 13px;
}

.button-new-exemple .next-button img{
    margin-right: 10px;
    width: 12px;
}

.text-exemple {
    width: 96%;
    background-color: rgba(169, 169, 169, 0.15);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.11);
    border: .5px solid #B5B5B5;
    border-radius: 8px;
    position: relative;
    padding: 15px 20px;
    font-size: 14px;
}

.copy-button {
    background-color: #D9D9D9;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.11);
    border: .5px solid #B5B5B5;
    color: #000;
    font-size: 11px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.copy-button:hover {
    background-color: #e6e6e3;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.11);
    border: .5px solid #B5B5B5;
    color: #000;
    font-size: 11px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* for audio button */

.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.microphone{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 50%;
}

.microphone .microphone-img {
    width: 150px;
} 

.timer {
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
    color: #667085;

}

/* waveform    */
  .wave-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-top: 10%;
  }
  
  .wave {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wave span {
    display: block;
    width: 2px;
    height: 100%;
    margin: 0 2px;
    border-radius: 50px;
    background: radial-gradient(#EBA1FF, #E3A6FF);
    animation: wave 1s ease-in-out infinite;
  }
  
  @keyframes wave {
    0%, 100% {
      transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(0.8);
    }
    40% {
      transform: scaleY(1);
    }
    60% {
      transform: scaleY(0.8);
    }
    80% {
      transform: scaleY(0.4);
    }
  }
  
/* container recording */

.audio-container-recording{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.timer-recording{
    margin-top: 5%;
    font-size: 18px;
    font-weight: normal;
    color: #667085;
}

.microphone .microphone-vs-img{
    width: 50px;
}

  /* for bottom buttons */

  .bottom-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 10%;
  }
  
  .bg-icon {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: rgba(238, 22, 22, 0.57);;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .play-pause-btn {
    width: 80%;
    height: 80%;
    background-color: #D22F2F;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
  }
  
  
.bg-icon .play-pause-btn .pause-icon {
    width: 40px; 
    height: 40px; 
  }
  
.btn-recording, .btn-recording:hover{
    background-color: none;
    color: #031432;
    border: none;
}



