.main-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.column-40 {
    background-color: rgba(58, 142, 246, 0.08);
    width: 35%;
    height: auto;
    margin-right: 15px;
    border-radius: 15px;
    border: 1px solid #B5B5B5;
    padding: 0;
    align-self: flex-start;
}

.column-60 {
    background-color: rgba(58, 142, 246, 0.08);
    width: 55%;
    height: auto;
    margin-left: 15px;
    border-radius: 15px;
    border: 1px solid #B5B5B5;
    align-self: flex-start;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px 0px 20px;
}

.title {
    font-weight: normal;
    color: #000;
}

.btn-note {
    background: none;
    border: none;
    cursor: pointer;
    color: #3A8EF6;
    position: relative;
    left: -80px;
    top: 10px;
}

.btn-note:hover {
    background-color: transparent;
    color: #3A8EF6;
}


/* /for the content */

.column-40 .content {
    background-color: #FBFBFB;
    border: 1px solid #B5B5B5;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px 30px 0 0;
}

.search-bar {
    position: relative;
    width: 100%;
}

.search-input {
    padding: 10px;
    padding-right: 35px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 100%;
    box-sizing: border-box;
}

.search-input::placeholder {
    color: #999;
}

.search-input:focus {
    outline: none;
    border-color: #999;
}

.search-bar::after {
    content: url('../img/icons/search-icon.png');
    position: absolute;
    top: 56%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-bar input[type="text"] {
    padding: 0 36px 0 26px;
    border-radius: 700px;

    &::placeholder {
        color: var(--c-grey-300);
    }

    &:focus {
        border-color: var(--c-grey-300);
        box-shadow: 0 0 0 4px var(--c-grey-100);
    }
}


.content .content-title {
    margin: 35px 0 15px 0;
    color: #A9A9A9;
    text-decoration: none;
}


.info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 0;
    margin-bottom: 15px;
}

.info-box .info-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 5px;
}

.info-box .info-left .user-icon {
    width: 60px;
    height: 60px;
    margin: 0 20px 0 10px;
}


.info-box .info-left .info .user-name {
    color: #333333;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
}


.info-box .info-left .info .user-location {
    position: relative;
    left: -8px;
    color: #B5B5B5;
}

.info-box .info-left .info .user-location img {
    margin: 0;
}


.info-box img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

/* footer */

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .total-users {
    display: flex;
    align-items: center;
}

.footer .total-users img {
    margin: 0 10px 0 15px;
}

.footer .total-users p {
    margin: 0 10px 0 10px;
}

.footer .total-users b {
    margin-left: 10px;
}

.btn-delete{
    color: #E40D0D;
    position: relative;
    left: -26%;
    margin-top: 5px;
    margin-bottom: 0;
}

.btn-delete:hover{
    color: #E40D0D;
    background-color: transparent;
}

/* column-60 */
/* header */

.column-60 {
    display: flex;
    flex-direction: column;
    background-color: rgba(58, 142, 246, 0.08);
    width: 55%;
    height: auto;
    margin-left: 15px;
    border-radius: 15px;
    border: 1px solid #B5B5B5;
    padding: 0;
}

.column-60 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px 0px 20px;
    padding: 20px 0px 20px 0px; 
}

/* content */

.column-60 .content {
    background-color: #FBFBFB;
    border: 1px solid #B5B5B5;
    padding: 10px 0 40px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px 30px 0 0;
}

.content .message-left-top {
    background-color: #FFF; 
    border: 1px solid #B5B5B5; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #333333;
    margin: 40px 0 0px 0;
}

.box-img {
    margin-right: 10px;
}

.title-info-message {
    flex: 1;
}
.title-info-message .title-name{
    margin: 0 0 0 10px;
}

.total-active {
    margin-right: 20px;
    background-color: rgba(108, 135, 174, 0.2);
    border-radius: 30px;
    width: 40px;
    padding: 2px;
    text-align: center;
    color: #6B89B4;
}

.message-text {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 25px; 
}
