@media (min-width: 1024px) {
    .dropdown .dropdown-toggle,
    .user-name-mobile,
    .photo-profil-mobile{
        display: none !important;
    }

}
@media (min-width: 769px) {
    .dropdown .dropdown-toggle,
    .user-name-mobile,
    .photo-profil-mobile{
        display: none !important;
    }
}
@media (max-width: 768px) {
    .user-info-icons {
        display: none;
    }
    .dropdown {
        display: flex;
        flex-direction: column;
    }

    .dropdown-toggle{
       color: #fff;
       margin-right: 15px;
    }
    .dropdown-toggle::after {
        content: none; 
    }    
    .dropdown-menu {
        display: none;
    }
    .dropdown-menu.show {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: -20px;
        left: -270px;
        background-color: #1678F2;
        border-radius: 5px;
    }
    .user-info-icons-dropdown{
        display: flex;
        width: 100%;
    }
    .user-info-icons-dropdown{
        padding: 5px;
        min-width: 200px;
    }
    .user-info-icons-dropdown a{
        margin: 0;
    }
    .user-info .user-name{
        display: none;
        font-size: 8px;
    }
    .user-info .photo-profil{
        display: none;
    }
        
    .user-info .user-name-mobile{
        display: none;
        font-size: 12px;
        position: relative;
        top: 10px;
    }
    .user-info .notification-badge .badge{
        position: relative;
        top: -35px;
        right: -15px;
    }
}

@media (max-width: 768px) {
    .header1, .header2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center !important;
    }

    .header1 .logo-container img {
        width: 40px;
        height: 40px;
    }

    .header1 .user-info {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .header1 .user-info-icons {
        margin-bottom: 10px;
    }

    .header1 .user-info .profile-image {
        width: 35px;
        height: 35px;
        margin-left: 0;
    }

    .header1 .user-name {
        font-size: 14px;
    }

    .header2 .header-content {
        display: flex;
        justify-content: flex-start;
    }

    .header2 .title-header2 {
        margin-left: 0;
        font-size: 16px;
    }

    .header2 .content {
        margin-left: 0;
        font-size: 12px;
    }

    .main-content {
        padding-top: 10%;
    }
}


@media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }

    .sidebar {
        position: relative;
        top: -40px;
        display: block;
        transform: translateX(0);
    }

    .sidebar .sidebar-title {
        display: none;
    }
    .sidebar .sidebar-menu {
        margin-top: 35px;
    }
    
    .sidebar .dropdown-title {
        display: inline-block;
        transition: opacity 0.3s ease;
    }
    
    .sidebar .dropdown-title {
        display: none;
    }

    .toggle-btn{
        display: none;
    }

    .main-content {
        margin-left: 50px; 
        padding: 20px;
        transition: margin-left 0.3s ease;
        overflow-x: auto;
    }

    .main-content.small {
        margin-left: 60px;
    }

    .toggle-button {
        display: block;
    }
}
@media (max-width: 480px) {
    .sidebar {
        width: 60px;
    }

    .sidebar {
        position: relative;
        top: -40px;
        display: block;
        transform: translateX(0);
    }

    .sidebar .sidebar-title {
        display: none;
    }
    .sidebar .sidebar-menu {
        margin-top: 35px;
    }
    
    .sidebar .dropdown-title {
        display: inline-block;
        transition: opacity 0.3s ease;
    }
    
    .sidebar .dropdown-title {
        display: none;
    }

    .toggle-btn{
        display: none;
    }

    .main-content {
        margin-left: 50px; 
        padding: 20px;
        transition: margin-left 0.3s ease;
        overflow-x: auto;
    }

    .main-content.small {
        margin-left: 60px;
    }

    .toggle-button {
        display: block;
    }

    * {
        font-size: 12px !important; 
    }
    .main-header div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.main-body {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    width: 250px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 103%;
    height: auto;
}

.product-details {
    padding: 5px 15px 15px 15px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-title {
    font-size: 13px;
    font-weight: normal;
    color: #667085;
    margin: 0;
}

.favorite-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.product-description {
    font-size: 14px;
    color: #777;
    margin: 10px 0;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-stars {
    display: flex;
}

.star {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.product-price {
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

@media (max-width: 768px) {
    .product-card {
        width: 100%;
        margin: 10px 0;
    }

    .product-title {
        font-size: 15px;
    }

    .product-description {
        font-size: 13px;
    }

    .product-price {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 100%;
        margin: 10px 0;
    }

    .product-title {
        font-size: 16px;
    }

    .product-description {
        font-size: 14px;
    }

    .product-price {
        font-size: 16px;
    }

    .star {
        width: 18px;
        height: 18px;
    }
}