.main-content{
    padding-top: 0;
}

.main-header div{
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0;
    top: 0;
}

.main-header div .first-nav{
    color: #667085;
    font-size: 12px;
    margin-right: 20px;
}

.main-header div .second-nav{
    color: #333;
    font-size: 12px;
    margin-left: 20px;
}

.details-header{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.left-header {
    width: 50%;
    height: 450px;
    padding: 0;
    margin: 0; 
}

.left-header img {
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 0;
    position: relative;
    left: -30px;
}

.right-header{
    width: 50%;
    margin-top: 20px;
    margin-left: 10px;
}

.right-header .product-header .product-title{
    font-size: 12px;
}

.right-header .product-description{
    width: 400px;
    font-size: 20px;
    font-weight: 300;
}

.right-header .product-footer{
    justify-content: flex-start;
    align-items: center;
}

.right-header .product-footer .product-stars{
    margin-right: 10px;
}

.right-header .product-ratings{
    font-size: 14px;
}
.right-header .product-ratings span{
    font-size: 12px;
    color: #667085;
}

/* user prof */

.post-user-info {
    display: flex;
    align-items: center;
    margin-top: 20px !important;
}
.post-user-info img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.post-user-info div {
    display: flex;
    flex-direction: column;
}
.post-user-info .name {
    font-size: 14px;
    font-weight: normal;
    color: #031432;
}
.post-user-info .date {
    font-size: 12px;
    color: #6C87AE;
}

/* for the text coll */
.btn-show-more {
    color: #6C87AE;
    background-color: transparent;
    border: none;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 10 !important;
}

.post-content {
    position: relative;
    transition: max-height 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
    margin: 20px 0;
    overflow: hidden; 
}

.post-content .content {
    color: #667085;
    text-decoration: none;
}

.post-content.collapsed::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.post-content.expanded::after {
    opacity: 0;
}


/* buttons */
.bottom-content .price{
    font-size: 34px;
    margin: 0;
}

.favoris, .favoris:hover{
    background: linear-gradient(to left ,#091A37 ,#031432ca);
    color: #fff;
    padding: 10px 15px;
    margin-right: 10px;
}

/* details-body-1 */
.details-body-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 60px 0;
}

.card-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-icons img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.card-icons .content-title{
    font-size: 14px;
    font-weight: normal;
    width: 90%;
    text-align: center;
    color: #333333;
}

/* body-2 */
.details-body-2{
    padding: 10px;
}

.details-body-2 .details-body-title{
    font-size: 20px;
}

.details-body-2 .details-body-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-body-content-left,
.details-body-content-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.details-body-content-left .body-content{
    width: 90%;
    margin: 0px 50px 20px 20px;
}
.details-body-content-right .body-content{
    width: 90%;
    margin: 0px 20px 20px 50px;
}

.details-body-sub-title{
    display: flex;
    align-items: center;
}

.details-body-sub-title img{
    margin-right: 10px;
}
/* body-3 */

.details-body-3{
    padding: 20px;
}

.details-body-3 .details-body-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.details-body-3 .details-body-title{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-actions {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.more-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
}

.more-button img{
    width: 30px;
    height: 30px;
}

.details-body-3 .details-body-content .details-body-content-left{
    padding: 10px;
    width: 50%;
}

.rating-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.overall-rating {
    display: flex;
    flex-direction: column;
}

.overall-rating .stars{
    display: flex;
    justify-content: center;
    align-items: center;
}

.overall-rating .stars .star img{
    width: 30px;
    height: 30px;
}

.bottom-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.rating-number{
    display: flex;
    flex-direction: column;
}

.rating-number p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #333333;
}

.rating-number span {
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.comments-counts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 20px;
}

.comments-counts .squares .square img  {
    width: 20px;
    height: 20px;
}

.comments-counts .comments-count {
    font-size: 13px;
    color: #666;
}

.rating-breakdown {
    margin-top: 15px;
    width: 50%;
}

.rating-row {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    position: relative;
    left: 75px;
}

.star-line {
    display: flex;
    justify-content: flex-end;
    width: 0px;
}

.star-line .star img{
    width: 10px;
    height: 10px;
    margin-right: 0px;
}

.bar-fill {
    height: 6px;
    border-radius: 5px;
    margin-top: 4px;
    margin-left: 10px;
}

.bar-green{
    background-color: #2EA47C;
}
.bar-blue{
    background-color: #1678F2;
}
.bar-orange{
    background-color: #F3B414;
}
.bar-brown{
    background-color: #D28327;
}
.bar-red{
    background-color: #E40D0D;
}

.count {
    width: 30px;
    text-align: center;
    font-size: 12px;
}

.details-body-3 .details-body-content .details-body-content-right{
    padding: 10px;
    margin-left: 70px;
    width: 50%;
}

.horizontal{
    flex-direction: row;
    justify-content: space-between;
}

.body-3-bottom{
    margin-left: 10px;
}

/* textarea style */
.textarea-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

#Envoyer-message {
    width: 100%; 
    height: 100px; 
    resize: none; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    box-sizing: border-box;
}

.icon-link {
    position: absolute;
    bottom: 10px; 
    width: 24px; 
    height: 24px; 
    cursor: pointer;
}

.share {
    right: 40px; 
}

.upload-file {
    right: 8px; 
}

.icon-link img {
    width: 100%;
    height: 100%;
}



@media (max-width: 768px) {
    .main-header div{
        flex-direction: row;
    }
    .main-header div .first-nav,
    .main-header div .second-nav{
        font-size: 10px !important;
    }
    .main-header div .first-nav{
        margin-right: 10px;
    }
    .main-header div .second-nav{
        margin-left: 10px;
    }

    .details-header {
        flex-direction: column;
        padding: 0;
    }

    .left-header, .right-header {
        width: 100%;
        height: auto;
    }

    .left-header img{
        width: 100%;
        height: 100%;
        margin-left: 30px;
    }

    .right-header .product-header .product-title{
        font-size: 10px !important;
    }

    .right-header .product-description {
        width: 100%;
        font-size: 10px !important;
    }

    .right-header .product-footer .product-stars .star{
        margin-right: 0px;
    }
    
    .right-header .product-footer .product-stars .star img{
        width: 13px;
        height: 13px;
    }

    .right-header .product-ratings,
    .right-header .product-ratings span{
        font-size: 10px !important;
    }

    .post-user-info img {
        width: 30px;
        height: 30px;
    }

    .post-user-info .name,
    .post-user-info .date {
        font-size: 10px !important;
    }

    .btn-show-more,
    .post-content{
        font-size: 10px !important;
    }
    
    .bottom-content .price{
        font-size: 13px !important;
        margin-bottom:10px ;
    }

    .favoris, .favoris:hover{
        background: linear-gradient(to left ,#091A37 ,#031432ca);
        color: #fff;
        padding: 8px 15px;
        margin-right: 0px;
        font-size: 10px !important;
    }

    .favoris img{
        width: 15px;
        height: 15px;
    }

    /* body-1 */
    .details-body-1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 40px 0;
    }

    .card-icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .card-icons img{
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    .card-icons .content-title{
        font-size: 10px !important;
        font-weight: normal;
        width: 100%;
    }
    
    /* body-2 */
    .details-body-2 .details-body-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .details-body-content-left,
    .details-body-content-right{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .details-body-content-left .body-content{
        width: 90%;
        margin: 0px ;
        padding-top: 10px;
        padding-left: 20px;
    }
    .details-body-content-right .body-content{
        width: 90%;
        margin: 0px;
        padding-top: 10px;
        padding-left: 20px;
    }

    .details-body-sub-title img{
        margin-right: 10px;
        width: 15px;
        height: 15px;
    }
    
    /* body-3 */

    .details-body-3 .details-body-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .review-actions {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .more-button img{
        width: 15px;
        height: 15px;
    }

    .details-body-3 .details-body-content .details-body-content-left{
        padding: 10px;
        width: 100%;
    }

    .rating-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .overall-rating{
        margin: 0;
    }

    .overall-rating .squares .square img{
        width: 15px;
        height: 15px;
    }

    .bottom-rating{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0px;
    }

    .comments-counts{
        margin: 0;
        margin-left: 15px;
    }

    .comments-counts .squares .square img  {
        width: 15px;
        height: 15px;
    }

    .comments-counts .comments-count {
        font-size: 10px !important;
    }
    

    .rating-breakdown {
        margin-top: 15px;
        width: 100%;
    }

    .rating-row {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        position: relative;
        left: 55px !important;
    }

    .star-line {
        display: flex;
        justify-content: flex-end;
        width: 25px;
    }
    /* ///// */
    
    .details-body-content {
        flex-direction: column;
    }

    .details-body-content-left, .details-body-content-right {
        margin: 0;
        width: 100%;
    }

    .rating-row {
        left: 0;
    }

    .details-body-3 .details-body-content .details-body-content-right {
        margin-left: 0;
        width: 100%;
    }

    .horizontal {
        flex-direction: column;
    }

    .body-3-bottom {
        margin-left: 0;
    }
}