@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--c-grey-100: #f4f6f8;
	--c-grey-200: #e3e3e3;
	--c-grey-300: #b2b2b2;
	--c-grey-400: #7b7b7b;
	--c-grey-500: #3d3d3d;

	--c-blue-500: #688afd;
}

body {
	line-height: 1.5;
	min-height: 100vh;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.modal-content{
    position: relative;
    left: 250px;
    width: 602px;
}


.btn-fermer {
    color: #3D8CEF;
    border: none;
}
.btn-fermer:hover {
    color: #3D8CEF;
    border: none;
}


/* .close-btn {
    color: #3D8CEF;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    border: 2px solid #3D8CEF;
    margin-right: 10px;
}

.close-btn i {
    margin-bottom: 2px;
    font-size: 1rem;
    color: #3D8CEF;
} */


/* .modal-content .btn-close {
    color: #3D8CEF !important;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    border-radius: 10%;
    border: 3px solid #3D8CEF;
    margin-right: 10px;
}
*/
.btn-close-blue {
    box-sizing: content-box;
    line-height: 0;
    color: #3D8CEF;
    border: 0;
    background-color: transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border: 2px solid #3D8CEF;
    border-radius: 5%;
    padding: 0.5px;
	height: 25px; 
}

.btn-close-blue:hover {
    color: #3D8CEF;
    text-decoration: none;
}

.btn-close-blue:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(61, 140, 239, 0.25);
}

.btn-close-blue:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-close-blue::before {
    content: '\00d7'; /* Unicode for close icon (×) */
    font-size: 2em;
	position: relative;
	top: 3px;
}


.btn-primary2 {
    background-image: linear-gradient(to left, #37A5E8, #255A9B);
    color: #fff;
    border: none;
}

.btn-primary2:hover {
    background-image: linear-gradient(to left, #255A9B, #37A5E8);
    color: #fff;
    border: none;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

.col-sm-12 {
    margin-bottom: 6px;
}

label {
    display: block;
    margin-bottom: 6px;
}

.new-comment {
    display: flex;
    align-items: center;
    position: relative;
}

.new-comment select {
    flex: 1;
}

label,
.new-comment {
    margin-bottom: 6px;
}

.new-comment {
    position: relative;
    width: 100%;
}


.new-comment select {
    border: 1px solid var(--c-grey-200);
    border-radius: 6px;
    height: 48px;
    padding: 0 26px 0 46px; 
    width: 100%;
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000"%3E%3Cpath d="M7 10l5 5 5-5z" /%3E%3C/svg%3E'); /* Default arrow-down icon */
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 36px;
    cursor: pointer;
    outline: none;

    &::placeholder {
        color: var(--c-grey-300);
    }

    &:focus {
        border-color: var(--c-grey-300);
        box-shadow: 0 0 0 4px var(--c-grey-100);
    }
}

label span {
    color: red;
}


input[type="text"] {
    border: 1px solid var(--c-grey-200);
    border-radius: 6px;
    height: 48px;
    padding: 0 26px 0 46px; 
    width: 100%;
    font-size: 16px;
    color: var(--c-grey-500);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 36px;
    outline: none;

    &::placeholder {
        color: var(--c-grey-300);
    }

    &:focus {
        border-color: var(--c-grey-300);
        box-shadow: 0 0 0 4px var(--c-grey-100);
    }
}


input[type="text"]::placeholder {
    color: var(--c-grey-300);
}

.icon-lieu::before {
  content: url('../img/icons/lieu.png');
  width: 20px;
  height: 20px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

#Date-de-naisssance {
    border: 1px solid var(--c-grey-200);
    border-radius: 6px;
    height: 48px;
    padding: 0 26px 0 46px;
    width: 100%;
    font-size: 16px;
    color: var(--c-grey-500);
    background-image: url('../img/icons/Heurs.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
}

#Date-de-naisssance::-webkit-calendar-picker-indicator {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#Date-de-naisssance::placeholder {
    color: var(--c-grey-300);
}

#Date-de-naisssance:focus {
    border-color: var(--c-grey-300);
    box-shadow: 0 0 0 4px var(--c-grey-100);
}

input[type="tel"],
input[type="email"] {
    border: 1px solid var(--c-grey-200);
    border-radius: 6px;
    height: 48px;
    padding: 0 26px 0 46px;
    width: 100%;
    font-size: 16px;
    color: var(--c-grey-500);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 36px;
    outline: none;
}

input[type="tel"]::placeholder,
input[type="email"]::placeholder {
    color: var(--c-grey-300);
}

input[type="tel"]:focus,
input[type="email"]:focus {
    border-color: var(--c-grey-300);
    box-shadow: 0 0 0 4px var(--c-grey-100);
}

/* ////////////////////////////////////////////////////////////////////////
 */



 .row-text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.text-right-close1,
.text-right-close2 {
    flex-basis: calc(50% - 10px);
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(61, 140, 239, 0.2);
    padding: 5px 10px;
    color: #3D8CEF;
    height: 50px;
}

.text-right-close1 p,
.text-right-close2 p {
    font-size: 9;
    margin-bottom: 0;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-right-close i {
    color: #3D8CEF;
    cursor: pointer;
}

@media (max-width: 768px) {
    .text-right-close1,
    .text-right-close2 {
        width: 100%;
        margin-right: 0;
    }
}

.bottom-s {
    margin-top: 20px;
    background-color: #a9a9a929;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 10px;
}

.bottom-s p {
    flex: 1;
    font-size: 14px;
    position: relative;
    top: 5px;
    margin-right: 50px;
    margin-top: 10px;
    white-space: nowrap;
}

.bottom-s .ajouter-btn {
    background-color: #D9D9D9;
    font-size: 11px;
    padding: 5px 10px;
    border: none;
    flex-shrink: 0;
}

.btn-icon {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 10px;
    color: #3D8CEF;
}

.btn-icon .input-icons i {
    position: relative;
    top: 7.5px;
    right: 10px;
    width: 1px;
}
.box-diag {
    border: 1px solid #B5B5B5;
    width: 455px;
    height: 410px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 20px;
}


 .head-diag {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-weight: bold;
}

.body-diag {
    height: 360px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.title {
    font-size: 14px;
    color: #333333;
}

.subtitle {
    font-size: 12px;
    color: #6C87AE;
}

.icons-container {
    display: flex;
}

.close-icon {
    color: #E40D0D;
    cursor: pointer;
}

.arrow-icon {
    color: #6C87AE;
    cursor: pointer;
}

.box-btn1,
.box-btn2 {
    border: 2px solid;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    margin-right: 10px;
}


.box-btn1 {
    color: #E40D0D;
}
.box-btn2 {
    color: #6C87AE;
}

.box-btn i {
    margin-bottom: 2px;
    font-size: 1rem;
}

.box-diag1 {
    border: 1px solid #B5B5B5;
    width: 455px;
    height: 50px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 20px;
}

.head-diag1 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-weight: bold;
}
