

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh; 
}
.main-content .update-password-content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 30px;
    padding-top: 200px;
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
.image-box .img-rounded-cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(58, 142, 246, 0.15);;
}

.rounded-image {
    width: 60px;
    height: 60px;
}

.text-title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}
.paragraph-title {
    text-align: center;
    width: 80%;
    font-size: 18px;
    color: #555;
    margin: 10px 0 20px 0;   
}

.form-update{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.password-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.password-section .row {
    width: 100%;
}


.col-sm-6 label{
    color: #667085;
    position: relative;
    left: 20px;
}

.input-group {
    width: 90%;
    position: relative;
    margin-bottom: 10px;
}


.input-group .text-input {
    padding: 12px 10px 12px 40px;
    border-radius: 8px;
    border: 1px solid #B5B5B5;
    width: 100%;
    background-image: url('../../img/icons/password-icon.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 24px;
    margin: 5px 15px;
}


.btn-icon {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 0;
    width: 100%;
}

.update-button {
    background-image: linear-gradient(to right, #37A5E8, #255A9B);
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 5px;
	cursor: pointer;
    height: 50px;
    width: 50%;
    margin-top: 30px;

}

.update-button:hover {
    background-image: linear-gradient(to left, #37A5E8, #255A9B);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.update-button span {
	margin-left: 10px;
}
